<% include ../partials/header %>

<div class="ui main container">
    <div class="ui three ordered steps">
        <div id="ownerStep" class="completed step">
            <div class="content">
                <div class="title">Add Owner</div>
            </div>
        </div>
        <div id="petStep" class="completed step">
            <div class="content">
                <div class="title">Add Pet</div>
            </div>
        </div>
        <div id="confirmStep" class="active step">
            <div class="content">
                <div class="title">Confirm Details</div>
            </div>
        </div>
    </div>
    <form class="ui form" action="/patients" method="POST">
        <%= register.owner.firstName %>
        <%= register.owner.lastName %>
        <%= register.owner.address.street %>
        <%= register.owner.address.secondAddress %>
        <%= register.owner.address.city %>
        <%= register.owner.address.state %>
        <%= register.owner.address.zipCode %>
        <%= register.owner.address.country %>
        <%= register.patient.name %>
        <%= register.patient.dob %>
        <%= register.patient.gender %>
        <%= register.patient.type %>
        <%= register.patient.breed %>
        <button class="ui right floated right labeled icon button">
            <i class="right arrow icon"></i>
            Submit
        </button>
    </form>
</div>

<% include ../partials/footer %>
