<% include ../partials/header %>

    <div class="ui three ordered steps">
        <div id="ownerStep" class="completed step">
            <div class="content">
                <div class="title">Add Owner</div>
            </div>
        </div>
        <div id="petStep" class="completed step">
            <div class="content">
                <div class="title">Add Pet</div>
            </div>
        </div>
        <div id="confirmStep" class="active step">
            <div class="content">
                <div class="title">Confirm Details</div>
            </div>
        </div>
    </div>
    <form class="ui form" action="/patients" method="POST">
        <div class="ui stackable two column grid container">
            <div class="column">
                <h3>OWNER</h3>
                <p><strong>Name: </strong><%= register.owner.firstName %> <%= register.owner.lastName %></p>
                <p><strong>Address: </strong><%= register.owner.address.street %> <%= register.owner.address.secondAddress %><br><%= register.owner.address.city %>, <%= register.owner.address.state %> <%= register.owner.address.zipCode %><br><%= register.owner.address.country %></p>
                <p><strong>Email: </strong><%= register.owner.email %></p>
                <p><strong>Phone: </strong><%= register.owner.phone %></p>
            </div>
            <div class="column">
                <h3>PET</h3>
                <p><strong>Name: </strong><%= register.patient.name %></p>
                <p><strong>Date of Birth: </strong><%= register.patient.dob %></p>
                <p><strong>Gender: </strong><%= register.patient.gender %></p>                
                <p><strong>Type: </strong><%= register.patient.type %></p>
                <p><strong>Breed: </strong><%= register.patient.breed %></p>
                <p><strong>Color: </strong><%= register.patient.color %></p>
            </div>
        </div>
        <div class="field">
            <div id="apptCheckbox" class="ui checkbox">
                <input type="checkbox" name="appointment">
                <label for="appointment">Add Appointment</label>
            </div>
        </div>
        
        <div class="field">
            <button class="ui right floated green button">
                Submit
            </button>
            <a class="ui right floated button" href="/patients">Cancel</a>
        </div>
    </form>

<% include ../partials/footer %>
