<% include ../partials/header %>

<div class="ui main container">
    <a href="/register" class="ui right floated blue button"><i class="paw icon"></i>Add New Patient</a>
    <h1>View all Patients</h1>
    <table class="ui sortable selectable striped compact blue table" id="patientTable">
        <thead>
            <tr id="theader">                     
                <th>Patient</th>
                <th>Type</th>
                <th>Breed</th>
                <th>Color</th>                    
                <th>DOB</th>                    
                <th>Gender</th>
                <th>Owner</th>                
                <th>Last Visited</th>
            </tr>
        </thead>
        <tbody>
            <% pets.forEach(function(pet){ %>
            <tr class="rowUrl" data-id="<%= pet._id %>">     
                <td class="collapsing"><img class="ui avatar image" src="<%= pet.avatar %>" alt=""><%= pet.name %></td>
                <td><%= pet.type %></td>
                <td><%= pet.breed %></td>
                <td><%= pet.color %></td>
                <td><%= pet.dob %></td>
                <td><%= pet.gender %></td>                     
                <td><%= pet.owner.firstName + " " + pet.owner.lastName %></td>                     
                <td><%= pet.lastVisited %></td>                   
            </tr>             
            <% }); %>
        </tbody>
    </table>
</div>

<script>
    //make rows into links
    var rowUrls = document.querySelectorAll(".rowUrl");
    rowUrls.forEach(function(row){
        var petId = row.attributes[1].textContent;
        row.addEventListener("click", function(){
            // alert(petId);
            window.location.assign("/patients/" + petId);
        });
    });

    // make table sortable;
    $('table').tablesort();
</script>
    
<% include ../partials/footer %>