<% include ../partials/header %>

    <a href="/register" class="ui right floated blue button"><i class="paw icon"></i>Add New Patient</a>
    <h1>View all Patients</h1>
    <table class="ui sortable selectable striped compact blue table" id="patientTable">
        <thead>
            <tr id="theader">                     
                <th>Patient</th>
                <th>Type</th>
                <th>Breed</th>
                <th>Color</th>                    
                <th>DOB</th>                    
                <th>Gender</th>
                <th>Owner</th>                
                <th>Last Visited</th>
            </tr>
        </thead>
        <tbody>
            <% pets.forEach(function(pet){ %>
            <tr class="rowUrl" data-id="<%= pet._id %>">     
                <td class="collapsing"><img class="ui avatar image" src="<%= pet.avatar %>" alt=""><%= pet.name %></td>
                <td><%= pet.type %></td>
                <td><%= pet.breed %></td>
                <td><%= pet.color %></td>
                <td><%= moment(pet.dob).calendar() %></td>
                <td><%= pet.gender %></td>                     
                <td><%= pet.owner.firstName + " " + pet.owner.lastName %></td>                     
                <td><%= moment(pet.lastVisited).calendar() %></td>                   
            </tr>             
            <% }); %>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="8">
                    <% if (pages && pages > 0) { %>           
                    <div class="ui right floated pagination menu">
                        <% if (current == 1) { %>  
                        <a class="disabled item">First</a>
                        <% } else { %>
                        <a class="item" href="/patients">First</a>
                        <% } %>
                        <% if (current == 1) { %>                            
                        <a class="icon disabled item">
                            <i class="left chevron icon"></i>
                        </a>
                        <% } else { %>
                        <a class="icon disabled item" href="/patients?page=<%= Number(current) - 1 %>">
                            <i class="left chevron icon"></i>
                        </a>
                        <% } %>
                        
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                        <a class="disabled item">...</a>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                        <a class="item"><%= i %></a>
                        <% } else { %>
                        <a class="item" href="/patients?page=<%= i %>"><%= i %></a>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                        <a class="disabled item">...</a>
                        <% } %>
                        <% } %>
                 
                        <% if (current == pages) { %>
                        <a class="icon disabled item">
                            <i class="right chevron icon"></i>
                        </a>
                        <% } else { %>
                        <a class="icon disabled item" href="/patients?page=<%= Number(current) + 1 %>">
                            <i class="right chevron icon"></i>
                        </a>
                        <% } %>
                        
                        <% if (current == pages) { %>
                        <a class="disabled item">Last</a>
                        <% } else { %>
                        <a class="item" href="/patients?page=<%= pages %>">Last</a>
                        <% } %>
                    </div>
                    <% } %>        
                </th>
            </tr>
        </tfoot>
    </table>

<script>
    //make rows into links
    var rowUrls = document.querySelectorAll(".rowUrl");
    rowUrls.forEach(function(row){
        var petId = row.attributes[1].textContent;
        row.addEventListener("click", function(){
            // alert(petId);
            window.location.assign("/patients/" + petId);
        });
    });

    // make table sortable;
    $('table').tablesort();
</script>
    
<% include ../partials/footer %>