<% include ../partials/header %>

<div class="ui main container">
    
    <div class="ui card">
        <div class="image">
            <img src="/brick.jpg">
        </div>
        <div class="content">
            <a class="header"><%= pet.name %></a>
            <div class="meta">
            <span class="date"><p><i class="paw icon"></i> <%= pet.type %>/ <%= pet.breed %></p></span>
            </div>
            <div class="description">
                <p><strong>DOB: </strong><%= pet.dob %></p>
                <p><strong>Gender: </strong><%= pet.gender %></p>
                <p><strong>Color: </strong><%= pet.color %></p>
                <p><strong>Weight: </strong><%= pet.weight %> lbs</p>
            </div>
        </div>
        <div class="extra content">
            <p>Last Visited <%= pet.lastVisited %></p>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <a class="header"><%= owner.firstName %> <%= owner.lastName %></a>
            <div class="description">
                <p><%= owner.phone %></p>
                <p><%= owner.address %></p>
                <p><%= owner.email %></p>
                <p><strong>Total Balance: </strong>$<%= owner.balance %></p>
            </div>
        </div>
    </div>

</div>

<% include ../partials/footer %>