<% include ../partials/header %>

<div class="ui main container">
    <div class="content">
        <h2><a><%= owner.firstName %> <%= owner.lastName %></a></h2>
        <div class="description">
                <p><%= owner.address.street %> <%= owner.address.secondAddress %>
                <br><%= owner.address.city %>, <%= owner.address.state %> <%= owner.address.zipCode %>
                <br><%= owner.address.country %></p>
            <p><%= owner.phone %></p>
            <p><%= owner.email %></p>
            <p><strong>Total Balance: </strong>$<%= owner.balance %></p>
        </div>
    </div>
    <div class="content">
        <h2><a class="header"><%= pet.name %></a></h2>
        <p><i class="paw icon"></i> <%= pet.type %>/ <%= pet.breed %></p>
        <div class="description">
            <p><strong>DOB: </strong><%= pet.dob %></p>
            <p><strong>Gender: </strong><%= pet.gender %></p>
            <p><strong>Color: </strong><%= pet.color %></p>
            <p><strong>Weight: </strong><%= pet.weight %> lbs</p>
            <p>Last Visited <%= pet.lastVisited %></p>
        </div>
    </div>
    <a class="tiny ui orange button" href="/patients/<%= pet._id %>/edit">EDIT</a> 
    <form class="delete-form" action="/patients/<%= pet._id %>?_method=DELETE" method="POST">
        <button class="tiny ui red button">DELETE</button>
    </form>   
</div>

<% include ../partials/footer %>