<% include ../partials/header %>
<div id="petDetails">
    <div class="avatar-content ui left floated image">
        <img src="<%= pet.avatar %>" alt="<%= pet.name %>'s avatar">                
    </div>
    <div id="editDeleteBtns">
        <a class="tiny ui orange button" href="/patients/<%= pet._id %>/edit">EDIT</a> 
        <form class="delete-form" action="/patients/<%= pet._id %>?_method=DELETE" method="POST">
            <button class="tiny ui red button">DELETE</button>
        </form>
    </div>
    <h2><%= pet.name %></h2>
    <p><i class="paw icon"></i> <%= pet.type %>&emsp;|&emsp;<%= pet.breed %>&emsp;|&emsp;<%= moment(pet.dob).calendar() %>&emsp;|&emsp;<%= pet.gender %>&emsp;|&emsp;<%= pet.color %>&emsp;|&emsp;<%= pet.weight %> lbs</p>
    <p>Last Visited <%= moment(pet.lastVisited).fromNow() %></p>
</div>

<h4 class="ui horizontal clearing divider header"><i class="user icon"></i>Client Details</h4>

<div id="ownerDetails">
    <h4><a href="/owners/<%= owner._id %>"><%= owner.firstName %> <%= owner.lastName %></a></h4>
    <div id="ownerFloatRight">
        <p><%= owner.phone %>
        <br><%= owner.email %></p>
    </div>
    <p><%= owner.address.street %> <%= owner.address.secondAddress %>
    <br><%= owner.address.city %>, <%= owner.address.state %> <%= owner.address.zipCode %>
    <br><%= owner.address.country %></p>
</div>

<h4 class="ui horizontal clearing divider header"><i class="calendar icon"></i>Upcoming Appointments</h4>

<div id="apptInfo" data-id="<%= pet._id %>">
</div>

<h4 class="ui horizontal clearing divider header"><i class="heartbeat icon"></i>Visit Details</h4>
    
<div id="visitsInfo" data-id="<%= pet._id %>">
</div>

<a class="ui button" href="/patients">View All Patients</a>

<script>
    var petId = $("#visitsInfo").attr("data-id");
    $.get("/patients/" + petId +"/visits", function(data){
        $("#visitsInfo").html(data);
    });
    $.get("/patients/" + petId +"/appointments", function(data){
        $("#apptInfo").html(data);
    });
</script>

<% include ../partials/footer %>