<% include ../partials/header %>

<div class="ui main container">
    <h1>Edit Appointment for <%=appt.patient.name %></h1>
    <form class="ui form" action="/appointments/<%= appt._id %>/?_method=PUT" method="POST">
        <div class="field">
            <label for="pet">Pet Name</label>
            <input id="patientsDb" type="text" value="<%= appt.patient.name %>">
            <input id="pet-data" type="hidden" name="appt[pet]">
        </div>
        <div class="two fields">
            <div class="field">
                <label for="date">Date</label> 
                <input type="date" name="appt[date]" value="<%= appt.date %>">
            </div>            
            <div class="field">
                <label for="time">Time</label>
                <input type="time" name="appt[time]" value="<%= appt.time %>">
            </div>
        </div>
        <div class="field">
            <label for="reason">Reason for Visit</label>
            <input type="text" name="appt[reason]" value="<%= appt.reason %>">
        </div>
        <div class="field">
            <label for="notes">Notes</label>
            <input type="text" name="appt[notes]" value="<%= appt.notes %>">
        </div>
        <button class="ui right floated green button" type="submit">
            Submit
        </button>
    </form>
</div>

<% include ../partials/footer %>