<% include ../partials/header %>

<div class="ui main container">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid menu">
                <% appts.forEach(function(appt){ %>
                    <div class="item" data-tab="<%= appt._id %>">
                        <h4 class="ui header"><%= appt.patient.name %></h4>
                        <p><%= appt.date %> <%= appt.time %></p>
                        <p><%= appt.reason %></p>
                    </div>
                <% }); %>
            </div> 
        </div>
        <div class="twelve wide stretched column">
            <% appts.forEach(function(appt){ %>
                <div class="ui tab" data-tab="<%= appt._id %>">
                    <p><h2><%= appt.patient.name %></h2></p>
                    <a class="ui orange button" href="/appointments/<%= appt._id %>/edit">Edit</a> 
                    <form action="/appointments/<%= appt._id %>?_method=DELETE" method="POST">
                        <button class="ui red button">DELETE</button>
                    </form>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ../partials/footer %>