<a class="ui right floated blue button" href="/appointments/new">Make Appointment</a>

<% if (!appts || appts.length < 1) { %>
    <p><%= pet.name %> has no upcoming appointments.</p>
<% } else { %>

<table class="ui sortable selectable striped compact blue table" id="apptTable">
    <thead>
        <tr id="theader">                     
            <th>Date</th>
            <th>Time</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        <% appts.forEach(function(appt){ %>
        <tr class="rowUrl" data-id="<%= appt._id %>">     
            <td><%= moment(appt.date).format('L') %></td>                
            <td><%= appt.time %></td>                
            <td><%= appt.reason %></td>
        </tr>             
        <% }); %>
    </tbody>
</table>
<% } %>

<script>
    var rowUrls = document.querySelectorAll(".rowUrl");
    rowUrls.forEach(function(row){
        var apptId = row.attributes[1].textContent;
        row.addEventListener("click", function(){          
            window.location.assign("/appointments?apptId=" + apptId);
        });
    });

    // make table sortable;
    $('table').tablesort();
</script>