<div class="ui segment">
    <div id="patientInfo">
            <div id="patientMeta">
                <div class="field-content ui left floated image">
                    <img src="<%= pet.avatar %>">                                            
                </div>
            
                <a href="/patients/<%= pet._id %>">
                    <span id="petName"><strong><%= pet.name %></strong></span> <span id="petDetails">(<%= pet.type %> | <%= pet.breed %> | <%= pet.dob %>)</span></p>
                </a>
                <a class="small ui blue button" id="visitButton" href="/patients/<%= pet._id %>/visits/new">Start Visit</a>
            </div>
        </div>
    <div class="ui fitted divider"></div>
    <div id="appointmentDetails">
        <h3>Appointment Details</h3>
        <p><span id="apptDateTime"><%= appt.date %> <%= appt.time %></span>
            <br><%= appt.reason %>
            <br><%= appt.notes %>
        </p>  
        <a class="tiny ui orange button" href="/appointments/<%= appt._id %>/edit">EDIT</a> 
        <form class="delete-form" action="/appointments/<%= appt._id %>?_method=DELETE" method="POST">
            <button class="tiny ui red button">DELETE</button>
        </form>
    </div>
</div>
    
    
    


